<style type="text/tailwindcss">
    @layer components {
        .MathJax_SVG_Display { @apply whitespace-pre-wrap }
        mjx-container {mjx-math { @apply whitespace-pre-wrap }}

        body        { @apply    m-0 font-default break-words
                                bg-yellow-50 dark:bg-zinc-800
                                text-zinc-800 dark:text-zinc-200 }
        h1          { @apply    text-4xl mt-7 mb-5 
                                text-light-primary-600 dark:text-dark-primary-200 }
        h2          { @apply    text-2xl mt-3 mb-2 
                                text-orange-500 dark:text-rose-300 }
        h3          { @apply    font-semibold mt-2 mb-1
                                text-green-600 dark:text-zinc-200 }
        a           { @apply    underline decoration-wavy text-blue-600 dark:text-blue-300  }
        img         { @apply    max-w-full my-6 shadow-paper-styled }
        pre         { @apply    my-6 p-7 whitespace-pre-wrap leading-tight shadow-paper-styled
                                dark:border dark:border-yellow-100 }
        del         { @apply    text-orange-500 dark:text-dark-primary-200 }
        strong      { @apply    text-light-primary-700 dark:text-rose-200 }
        code        { @apply    font-code text-sm whitespace-pre-wrap }
        table       { @apply    bg-yellow-50 dark:bg-zinc-900 shadow-paper-styled }
        th          { @apply    p-2 text-white bg-orange-300 dark:bg-zinc-700 }
        td          { @apply    p-2 border-b border-yellow-500 dark:border-zinc-500 }
        blockquote  { @apply    my-6 px-6 whitespace-pre-wrap break-words shadow-paper-styled
                                bg-yellow-50 dark:bg-zinc-700
                                border-t-8 border-yellow-200 }
        hr          { @apply    my-10 border-0 shadow-hr-light dark:shadow-hr-dark }
        li          { @apply    ml-6 }
        ol          { @apply    list-decimal }
        ul          { @apply    list-disc }
        .footnotes  { @apply    pt-4 text-xs border-t border-orange-500 dark:border-gray-400 }

        .layout-container   { @apply    flex justify-center px-mobileX xl:px-desktopX }
        .layout-item        { @apply    w-full xl:min-w-default xl:max-w-default }
        .web-main-container { @apply    layout-container px-0 z-0 }
        .web-main-item      { @apply    layout-item shadow-layout 
                                        px-7 pb-64 pt-mobileY xl:pt-desktopY
                                        bg-white dark:bg-zinc-950 }
    }
</style>