@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Default Tag Styles (Post Styles) */
@layer components {
    .MathJax_SVG_Display { @apply whitespace-pre-wrap }
    mjx-container {mjx-math { @apply whitespace-pre-wrap }}

    body        { @apply    m-0 font-default break-words text-[0.93em]
                            bg-yellow-50 dark:bg-zinc-800
                            text-zinc-800 dark:text-zinc-200 }
    h1          { @apply    text-4xl mt-7 mb-5 
                            text-light-primary-600 dark:text-dark-primary-200 }
    h2          { @apply    text-2xl mt-3 mb-2 
                            text-orange-500 dark:text-violet-200 }
    h3          { @apply    font-semibold mt-2 mb-1
                            text-green-600 dark:text-green-200 }
    a           { @apply    underline decoration-wavy text-blue-600 dark:text-blue-300  }
    img         { @apply    max-w-full my-6 shadow-paper-styled }
    pre         { @apply    my-6 p-7 whitespace-pre-wrap leading-tight shadow-paper-styled
                            dark:border dark:border-yellow-100 }
    del         { @apply    text-orange-500 dark:text-dark-primary-200 }
    strong      { @apply    text-light-primary-700 dark:text-rose-200 }
    code        { @apply    font-code text-sm whitespace-pre-wrap }
    table       { @apply    bg-yellow-50 dark:bg-zinc-900 shadow-paper-styled }
    th          { @apply    p-2 text-white bg-orange-300 dark:bg-zinc-700 }
    td          { @apply    p-2 border-b border-yellow-500 dark:border-zinc-500 }
    blockquote  { @apply    my-6 px-6 whitespace-pre-wrap break-words shadow-paper-styled
                            bg-yellow-50 dark:bg-zinc-700
                            border-t-8 border-yellow-200 }
    hr          { @apply    my-10 border-0 shadow-hr-light dark:shadow-hr-dark }
    li          { @apply    ml-6 }
    ol          { @apply    list-decimal }
    ul          { @apply    list-disc }

    .footnotes  { @apply    pt-4 text-xs border-t border-orange-500 dark:border-gray-400 }
    .tag        { @apply    px-3 py-1 text-[0.8em] cursor-pointer
                            bg-zinc-100 text-zinc-700 dark:text-zinc-200
                            shadow-paper-styled rounded-sm no-underline }
    .post-card .tag { @apply text-light-text-default dark:text-dark-text-default }

    .layout-container   { @apply    flex justify-center px-mobileX xl:px-desktopX }
    .layout-item        { @apply    w-full xl:min-w-default xl:max-w-default }
    .web-main-container { @apply    layout-container px-0 z-0 }
    .web-main-item      { @apply    layout-item shadow-layout 
                                    px-7 pb-60 pt-mobileY xl:pt-desktopY
                                    bg-white dark:bg-zinc-950 }
}

/* Navbar Styles */
@layer components {
    .nav-icon {
       @apply cursor-pointer;
       @apply text-white dark:text-dark-primary-200;
       @apply hover:text-light-primary-200 dark:hover:text-dark-primary-100
    }
}

/* Random Tag Styles */
@layer components {
    .tag-random-red     {   @apply    bg-red-100 hover:bg-red-200
                                        dark:bg-transparent dark:border dark:border-red-200 dark:text-red-200 dark:hover:border-red-300 dark:hover:text-zinc-600 }
    .tag-random-orange  {   @apply    bg-orange-100 hover:bg-orange-200
                                        dark:bg-transparent dark:border dark:border-orange-200 dark:text-orange-200 dark:hover:border-orange-300 dark:hover:text-zinc-600; }
    .tag-random-amber   {   @apply    bg-amber-100 hover:bg-amber-200
                                        dark:bg-transparent dark:border dark:border-amber-200 dark:text-amber-200 dark:hover:border-amber-300 dark:hover:text-zinc-600; }
    .tag-random-lime    {   @apply    bg-lime-100 hover:bg-lime-200
                                        dark:bg-transparent dark:border dark:border-lime-200 dark:text-lime-200 dark:hover:border-lime-300 dark:hover:text-zinc-600; }
    .tag-random-teal    {   @apply    bg-teal-100 hover:bg-teal-200
                                        dark:bg-transparent dark:border dark:border-teal-200 dark:text-teal-200 dark:hover:border-teal-300 dark:hover:text-zinc-600; }
    .tag-random-cyan    {   @apply    bg-cyan-100 hover:bg-cyan-200
                                        dark:bg-transparent dark:border dark:border-cyan-200 dark:text-cyan-200 dark:hover:border-cyan-300 dark:hover:text-zinc-600; }
    .tag-random-violet  {   @apply    bg-violet-100 hover:bg-violet-200
                                        dark:bg-transparent dark:border dark:border-violet-200 dark:text-violet-200 dark:hover:border-violet-300 dark:hover:text-zinc-600; }
    .tag-random-fuchsia {   @apply    bg-fuchsia-100 hover:bg-fuchsia-200
                                        dark:bg-transparent dark:border dark:border-fuchsia-200 dark:text-fuchsia-200 dark:hover:border-fuchsia-300 dark:hover:text-zinc-600; }
}

/* Random Post Card Styles */
@layer components {
    .form-random-red        {   @apply  bg-red-100 text-rose-700 dark:text-red-200
                                            dark:bg-transparent dark:border dark:border-red-200 rounded-md; a { @apply text-orange-700 dark:text-red-200; } }
    .form-random-orange     {   @apply  bg-orange-100 text-orange-700 dark:text-orange-200
                                            dark:bg-transparent dark:border dark:border-orange-200 rounded-md; a { @apply text-yellow-700 dark:text-orange-200; } }
    .form-random-amber      {   @apply  bg-amber-100 text-amber-700 dark:text-amber-200
                                            dark:bg-transparent dark:border dark:border-amber-200 rounded-md; a { @apply text-yellow-600 dark:text-amber-200; } }
    .form-random-lime       {   @apply  bg-lime-100 text-green-700 dark:text-lime-200
                                            dark:bg-transparent dark:border dark:border-lime-200 rounded-md; a { @apply text-cyan-700 dark:text-lime-200; } }
    .form-random-teal       {   @apply  bg-teal-100 text-emerald-700 dark:text-teal-200
                                            dark:bg-transparent dark:border dark:border-teal-200 rounded-md; a { @apply text-sky-700 dark:text-teal-200; } }
    .form-random-cyan       {   @apply  bg-cyan-100 text-sky-700 dark:text-cyan-200
                                            dark:bg-transparent dark:border dark:border-cyan-200 rounded-md; a { @apply text-blue-700 dark:text-cyan-200; } }
    .form-random-violet     {   @apply  bg-violet-100 text-purple-700 dark:text-violet-200
                                            dark:bg-transparent dark:border dark:border-violet-200 rounded-md; a { @apply text-rose-700 dark:text-violet-200; } }
    .form-random-fuchsia    {   @apply  bg-fuchsia-100 text-pink-700 dark:text-fuchsia-200
                                            dark:bg-transparent dark:border dark:border-fuchsia-200 rounded-md; a { @apply text-pink-700 dark:text-fuchsia-200; } }
}