<div class="flex justify-center text-[0.8em] gap-x-4">
    {% if prev_url %}
    <a href="{{ site.absolute_url | append: prev_url }}" class="no-underline">< previous</a>
    {% else %}
    <a class="no-underline cursor-not-allowed text-zinc-400 dark:text-zinc-500"">< previous</a>
    {% endif %}

    <div>{{ paginator.page }} of {{ page_size }}</div>

    {% if next_url %}
    <a  href="{{ site.absolute_url | append: next_url }}" class="no-underline">next ></a>
    {% else %}
    <a class="no-underline cursor-not-allowed text-zinc-400 dark:text-zinc-500">next ></a>
    {% endif %}
</div>