<script src="https://cdn.tailwindcss.com"></script>
<script type="text/javascript" src="{{ "/assets/js/theme/colors.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/tailwind-config.js" | absolute_url }}"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/layout.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/navbar.js" | absolute_url }}"></script>