<nav class="
        w-full h-14 z-50
        px-mobileX xl:px-desktopX
        bg-white dark:bg-zinc-900
        border-b border-light-primary-default dark:border-dark-primary-default
        fixed flex items-center justify-between
">
    <i id="navbar-menu-button" class="nav-icon bi bi-list text-4xl"></i>

    <p id="navbar-title" class="
        text-lg
        hidden xl:block
        text-light-primary-default dark:text-dark-primary-default
        cursor-pointer
    "><strong>
        {{ site.title }}
    </strong></p>

    <i id="navbar-mode-selector" class="nav-icon bi text-2xl"></i>
</nav>