<nav class="
        w-full h-16 z-50
        text-light-primary-default dark:text-dark-primary-default
        px-mobileX xl:px-desktopX
        bg-light-primary-600 dark:bg-zinc-700 bg-opacity-80 backdrop-blur-sm
        dark:border-b dark:border-yellow-100
        shadow-navbar
        fixed flex justify-center align-center
">
    <div class="
        w-full xl:min-w-default xl:max-w-default
        flex justify-between items-center
    ">
        <i id="navbar-menu-button" class="nav-icon bi bi-list text-4xl"></i>

        <p id="navbar-title" class="
            text-lg
            hidden xl:block
            cursor-pointer
        "><strong class="text-white dark:text-dark-primary-200">
            {{ site.title }}
        </strong></p>

        <i id="navbar-mode-selector" class="nav-icon bi text-2xl"></i>
    </div>

</nav>