<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}
        {% include left-side.html %}

        <div class="web-main-container">
            <div class="web-main-item">
                {% assign filtered_posts = site.posts %}
                {% assign post_base_url = "/posts" %}
                {% include post-list.html %}
            </div>
        </div>

        {% include footer.html %}
        {% include foot.html %}
        <script type="text/javascript" src="{{ "/assets/js/post-list.js" | absolute_url }}"></script>
    </body>
</html>